body {
	background-color: black;
	font: bold 14px Arial, sans-serif;
}

#calculator {
	width: 295px;
	height: auto;
	
	margin: 100px auto;
	padding: 20px 20px 9px;
	
	background: #ded5dd;
	border-radius: 3px;
}

.keyContainer {
	overflow: hidden;
} 

.screenContainer {
	overflow: hidden;
}

.screenContainer #screen {
	height: 40px;
	width: 100%;
	
	float: right;
	
	padding: 0 10px 0 10px;
	margin: 0 0 11px 0;
	
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

.key{
	float: left;
	position: relative;
	top: 0;
	
	cursor: pointer;
	
	width: 66px;
	height: 36px;
	
	background: white;
	border-radius: 3px;
	
	margin: 0 7px 11px 0;
	
	color: #888;
	line-height: 36px;
	text-align: center;
	
	user-select: none;
	
	transition: all 0.2s ease;
}

.key.eval {
	background: #3385f2;
	color: white;
}

.key.clear {
	background: #f54949;
	color: white;
}

.key.operator {
	background: #f2a033;
	color: white;
}

.key.function {
	background: #f233e4;
	color: white;
}

.key:hover {
	background: #b3b3b3;
	color: white;
}

.key.eval:hover {
	background: #0052bf;
	color: #ffffff;
}

.key.clear:hover {
	background: #c21616;
	color: white;
}

.key.operator:hover {
	background: #bf6d00;
	color: white;
}

.key.function:hover {
	background: #bf00b1;
	color: white;
}